*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    font-family: Open Sans,sans-serif;
    height: 100vh;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: grid;
    place-items: center;
    cursor: none;
} */
.content{
    margin: 0px;
    /* border: 1px solid red ; */
}
.content h1{
    font-size: 6rem;
    margin: 0;
}
.content p{
    font-size: 18px;
    line-height: 1.7;
}
.abbey {
    font-size: 5rem;
    font-weight: normal ;
    line-height: 0.9;
}
.years {
    font-size: 3rem;
    line-height: 0.15;
}
/*Cursor Start*/
[class^="cursor"]{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
}
.cursor-outer{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(0, 0, 0);
    transition: all .08s ease-out;
}
.cursor-inner{
    width: 7px;
    height: 7px;
    background: rgb(0, 0, 0);
}
.content:hover ~ .cursor-outer{
    width: 200px;
    height: 200px;
    background: rgb(255, 200, 2);
    mix-blend-mode: difference;
}
.content:hover ~ .cursor-inner{
    opacity: 0;
}