@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

html, body { font-size: 22px; font-family:  "Nanum Gothic", sans-serif;;}

/* load */
html:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 10;
}

html:after {
  content: '';
  z-index: 11;
}

html:before, html:after {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 1s;
}

html.loaded:before, html.loaded:after {
  opacity: 0;
  visibility: hidden;
}

.loader, html::after {
  content: "";
  position: fixed;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin-top: -17.5px;
  margin-left: -17.5px;
  border-radius: 30px;
  transition: all .4s;
  border: 3px solid;
  background: none;
  animation: rotate .35s infinite both linear;
  border-color: #000000 rgba(255, 255, 255, 0.215) #a293ad2d #0d0d0d;
  transform: rotate(45deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* a_skip */
#a_skip {
  position: relative;
  z-index: 3000;
}
#a_skip a {
  position: absolute;
  top: -30px;
  left: 0;
  width: 138px;
  border: 1px solid #4ec53d;
  background: #333;
  text-align: center;
}
#a_skip span {
  display: inline-block;
  padding: 2px 6px 0 0;
  font-size: 13px;
  line-height: 26px;
  color: #fff;
  letter-spacing: -1px;
  white-space: nowrap;
}
#a_skip a:active,#a_skip a:focus{
  top:0;
  text-decoration:none;
  z-index:1000
}

/* header */
.header {
  transition: all 1s;  
}

.header .logo {
  position: fixed;
  top: 20px;
  left: 40px;
  width: 30px;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

.header .burger  {
  position: fixed;
  top: 20px;
  right: 40px;
  width: 30px;
  z-index: 10;
  cursor: pointer;
}

.header .burger hr {
  border: 1px solid #000000;
  width: 100%;
  margin: 9px 0;
  transition: all .3s;
}

.header.active .burger hr:first-child {
  transform: rotate(-45deg) translate(-5px,10px);
}

.header.active .burger hr:nth-child(2) {
  opacity: 0;
}

.header.active .burger hr:last-child {
  transform: rotate(45deg) translate(-5px,-10px);
}

.header .menu.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.5s ease-in-out;
  transform: translate(-10%, -50%) scale(0);
  font-size: 65px;
  font-weight: 600;
}

.header .menu.txt {
  visibility: hidden;
  opacity: 0;  
  position: fixed;
  top: 80px;
  left: 80px;
  font-size: 30px;
  line-height: 50px;
  z-index: 5;
  transition: all 0.5s ease-in-out;
}

.header .menu.main li {
  margin: 60px 0px;
  text-align: center;
}

.header .menu.main a {
  color: #282828;
  transition: all 1s;
}

.header .menu.main a:hover {
  color: #a8a8a8;
}

.header .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #fff;
  z-index: 5;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.header.active .nav {
  height: 100%;
}

.header.active .logo {
  top:50%;
  transform: translateY(-50%);
}

.header.active .menu.main {
  transform: translate(-10%, -50%) scale(1);
}

.header.active .menu.txt {
  visibility:visible;
  opacity: 1;
}

/* 221227 추가 */
.font-ng {font-family: "Nanum Gothic", sans-serif;}
.fl { display: flex;}
.fl-center {justify-content: center; align-items: center;}
.fl-row-reverse {flex-direction: row-reverse;}
.rl {position: relative;}
.w100 { display: block; margin: 0 auto; width: 100%; }
.t-center {text-align: center;}

.graphic-item.renew:nth-child(1) { background: #3d4234; }
.graphic-item.renew:nth-child(2) { background: #1b2d3a; }
.graphic-item.renew:nth-child(3) { background: #3e3d53; }

.video-background {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  bottom: 0;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.last-item {
  padding-bottom: 140vh;
}
.last-item.type2 {
  padding-bottom: 50vh;
}

@media screen and (max-width: 850px) {
  .last-item {
    padding-bottom: 90vh;
  }
}




/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* 가로모드 */
  @media (orientation: landscape) {

  }
  /* 세로모드 */
  @media (orientation: portrait) {
    .header.active .logo {top:20px; transform: translateY(0);}
    .header .menu.main {
      left: 40px;
      font-size: 30px;
    }
    .header.active .menu.main {
      top: 120px;
      transform: translate(0%, 0%) scale(1);
    }
    .header .menu.main li {
      text-align: left;
      margin: 20px 0px;
    }
    .header .menu.txt {
      top: 310px;
      left: 40px;
      font-size: 20px;
      line-height: 35px;
    }

  }
}

/* 모바일 */
@media screen and (max-width: 767px) {
  .header .logo {
    left: 20px;
    width: 20px;
  }
  .header .burger  {
    right: 20px;
    width: 20px;
  }
  .header.active .logo {top:20px; transform: translateY(0);}
  .header .menu.main {
    left: 20px;
    font-size: 30px;
  }
  .header.active .menu.main {
    top: 120px;
    transform: translate(0%, 0%) scale(1);
  }
  .header .menu.main li {
    text-align: left;
    margin: 20px 0px;
  }
  .header .menu.txt {
    top: 310px;
    left: 20px;
    font-size: 20px;
    line-height: 35px;
  }

}
